# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Virtual environment
venv/

# Environment variables
.env
.env.*

# OS / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/

# Build and cache
*.egg-info/
dist/
build/

# Deployment
*.bak
